<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>
<body>
<div class="container">
    <br>
    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>
    <br>
    <h1>
        Register New Customer Here ::::::::::::::::::::::::::::::::
    </h1>


    <form  th:object="${customerForm}"  method="post" th:action="@{${updateCustomer}}"  cssClass="form" >

        <input type="hidden" th:field="*{id}"/>


        <div class="form-group">
            <label>FirstName</label>
            <input th:field="*{firstName}" type="text" class="form-control"  />
        </div>
        <div class="form-group">
            <label>LastName</label>
            <input type="text" class="form-control" th:field="*{lastName}" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <br>

    <footer>

        <th:block th:include="fragments/footer :: footer"></th:block>

    </footer>

</div>
</body>
</html>